* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-image: url("gambar/bg.webp");
}

/* navbar */

nav {
    display: flex;
    background-color: rgb(66, 66, 255);
    justify-content: space-around;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    font-size: 0.8em;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}



nav .navbar {
    letter-spacing: 3px;
}

nav ul li a:hover {
    color: goldenrod;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* animasi hamburger */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

/* main content */

.container {
    display: grid;
    width: 100%;
    margin: 5px auto;
    padding: 10px 0;
    border: 5px solid wheat;
    background-color: rgb(25, 122, 212);
}

/* responsive breakpoint */

/* tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* mobile */
@media screen and (max-width: 576px) {
    .navbar h4 {
        font-size: 25px;
    }

    nav {
        margin: 5px auto;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    
    .menu-toggle {
        display: flex;
        z-index: 10;
        left: 30px;
    }
    
    nav ul {
        position: absolute;
        right: 0;
        top: 100;
        margin: 5px auto;
        height: 70vh;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: rgb(66, 66, 255);
        z-index: 10;
        transform: translateX(0);
        transition: all 1s;
    }

    nav ul li {
        font-size: 40px;
    }

    nav ul li a:hover {
        color: rgb(8, 25, 48);
    }
    
    
    nav ul.slide {
        transform: translateX(100%);
        right: -100%;    
    }

    .container {
        display: grid;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        margin: 10px auto;
        border: 5px solid wheat;
        background-color: rgb(25, 122, 212);
        grid-template-areas: 'header' 'header'  'header' 'header'
                            'sidebar' 'sidebar' 'sidebar' 'sidebar'
                            'footer' 'footer' 'footer' 'footer';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 10px;
    }

    .main {
        width: 215%;
        background-color: rgb(226, 210, 210);
        grid-area: header;
    }
  
    h3 {
        font-size: 25px;
        text-transform: capitalize;
        font-weight: bold;
    }

    h4 {
        font-size: 25px;
        text-transform: capitalize;
    }

    p {
        font-size: 25px;
        margin-left: 10px;
        box-sizing: border-box;
        background-color: white;
    }

    .sidebar{
        grid-area: sidebar;
        width: 215%;
        height: 80px;
        background-color: rgb(66, 66, 255);
    }
}
